@import url('reset.css');

.grid-4x4 {
    display: grid;
    grid-template-columns: 1fr [start] 1fr 1fr [end] 1fr;
    grid-template-rows: [first-row] 1fr 1fr 1fr [minus1] 1fr [last-row];
    height: 600px;
    margin-top: 20px;
}

.row-15-col-35 {
    grid-row: first-row / last-row;
    grid-column: 3 / 5;
    background-color: gold;
}

.row-14-col-1 {
    grid-row-start: first-row;
    grid-row-end: minus1;
    grid-column: 1;
    background-color: salmon;
}

.row-2-col-23 {
    grid-row: 2;
    grid-column: start / end;
    background-color: turquoise;
}
